name: build java application
on:
  push:
    branches:
     - master
jobs:
  buildJob:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the Repo
        uses: actions/checkout@v5
      - name: Install Java 17 and maven
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - name: build the code
        run: mvn clean install package
      - name: Install docker
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
           username: ${{ secrets.DOCKER_USERNAME }}
           password: ${{ secrets.DOCKER_PASSWORD }} 
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
           context: .
           push: true
           tags: ashishdubey195/myaddressjavaimage:latest
